* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.inputErro {
    width: 100%;
    border-radius: 3px;
    border: 2px solid red;
    padding: 11px;
    margin-bottom: 30px;
}

.home .container .formSign .sign label.erro {
    color: red;
}