@import url(base.css);
@import url(variables.css);

/*

    HOME

*/

.home {
    height: 120vh;
}

.home .header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: var(--color-secondary);
    color: white;

}

.home .header p {
    font-size: 20px;
    margin-top: 20px;
}

.home .header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home .header span {
    font-size: 14px;
    color: rgb(219, 218, 218);
}

/*

    HOME - MENU

*/
.home .header .navbar {
    position: relative;
    display: flex;
    justify-content: center;
}
.home .header .navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    width: 60%;
    
}
.home .header .navbar ul li {
    width: 185px;
    padding: 15px 30px;
}

.home .header .navbar ul li a {
    height: 55px;
    background-color: white;
    text-decoration: none;
    color: var(--color-secondary);
    border-radius: 5px / 5px;
    box-shadow: 3px 5px 10px rgb(83, 83, 83);
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

    HOME - FORM

*/

.home .formSign {
    display: flex;
    color: var(--color-secondary);
}

/* INFO */

.home .formSign .info {
    width: 55%;
    padding: 30px;
}

.home .formSign .info h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.home .formSign .info p:first-of-type {
    margin-bottom: 30px;
}

/* SIGN */

.home .formSign .sign {
    padding: 30px;
    width: 45%;
}

.home .formSign .sign label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.input {
    width: 100%;
    border-radius: 3px;
    border: 2px solid var(--color-primary);
    padding: 11px;
    margin-bottom: 30px;
}

/* CHECKS */

.home .formSign .sign .checkInputs label {
    display: inline-block;
    margin-right: 20px;
}

.home .formSign .sign .checkInputs .check {
    margin-right: 2px;
    
}

.home .formSign .sign .button {
    padding: 15px 20px;
    color: var(--color-secondary);
    background-color: white;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

.home .formSign .sign .button:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0.27, 0.93, 0.63);
}


/*

    PRODUCTS

*/



.productsSection .container {
    text-align: center;
    padding-top: 70px;
}

.productsSection .container h2 {
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.productsSection .container h2:before,
.productsSection .container h2:after {
    content: '';
    width: 370px;
    height: 2px;
    background-color: var(--color-secondary);
    margin: 0 30px;
}

.productsSection .container .products {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.productsSection .container .products .product {
    width: 25%;
    border: 1px solid var(--color-secondary);
    padding: 20px;
    margin-top: 20px;
    text-align: start;
    color: var(--color-secondary);
    text-align: center;
}

.productsSection .container .products .product .text {
    text-align: start;
}

.productsSection .container .products .product .text h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 19px;
}

.productsSection .container .products .product .text p {
    font-size: 17px;
    margin-bottom:10px;
}

.productsSection .container .products .product .text h3 {
    margin-bottom: 10px;
}

.productsSection .container .products .product .text span {
    display: block;
    margin-bottom: 10px;
}

.productsSection .container .products .product .text .button {
    width: 100%;
    border: 2px solid var(--color-primary);
    padding: 10px ;
    font-size: 20px;
    background-color: white;
    color: var(--color-secondary);
    margin-top: 5px;
    border-radius: 7px;
    cursor: pointer;

}

.productsSection .container .products .product .text .button:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0.27, 0.93, 0.63);
}

/* CHANGE PAGE */

.productsSection .container .changePage {
    padding: 20px 60px;
    font-size: 20px;
    border: 2px solid var(--color-primary);
    border-radius: 7px;
    margin-top: 50px;
    background-color: white;
    color: var(--color-secondary);
    cursor: pointer;
}

.productsSection .container .changePage:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0.27, 0.93, 0.63);
}

/*

    SHARE

*/


.share {
    height: 100vh;
    padding-top: 150px;
    text-align: center;
}



.share .container h2 {
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.share .container h2:before, 
.share .container h2:after {
    content: '';
    width: 370px;
    height: 2px;
    background-color: var(--color-secondary);
    margin: 0 30px;
}

.share .container span {
    color: var(--color-secondary);
    margin-bottom: 50px;
    display: block;
}

.share .container .signFriend .box {
    display: flex;
    justify-content: center;
    
    
}

.share .container .signFriend .box label {
    display: block;
    text-align: start;
    color: var(--color-secondary);
    margin-bottom: 10px;
}

.share .container .signFriend .box div .input {
    width: 400px;
    margin-right: 30px;
}

.share .container .signFriend .buttonFriend {
    font-size: 20px;
    border: 2px solid var(--color-primary);
    color: var(--color-secondary);
    border-radius: 7px;
    background-color: white;
    padding: 15px 90px;
    cursor: pointer;
}

.share .container .signFriend .buttonFriend:hover {
    background-color: var(--color-primary);
    color: white;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0.27, 0.93, 0.63);
} 


/*

    FOOTER  

*/

.footer {
    background-color: var(--color-secondary);
    text-align: center;
    color: white;
    padding: 50px;
}